<div class="banner">
  <div class="container">
    <h1>Crecer</h1>
    <h2>Profesores</h2>
  </div>
</div>
<div class="main-wrapper" >
  <div class="container mb-5 profesor-container">
    <% @profesors.each do |profesor| %>
      <div class="card-product">
        <%= cl_image_tag profesor.foto_profesor.key  %>
        <div class="card-product-infos">
          <h2><%= profesor.nombre %> <%= profesor.apellido %></h2>
          <p><%= profesor.descripcion_profesor %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
