// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Playball&display=swap');

// Define fonts for body and headers
$body-font: 'Handlee', cursive;
$headers-font: 'Playball', cursive;

/*Tipografia */
h1 {
  font-size: 3.8rem;
  font-weight: 700;
  font-family: 'Playball', cursive;
}
h2 {
  font-size: 2.8rem;
  font-family: 'Handlee', cursive;
}
h3 {
  font-size: 1.8rem;
}
h1,h2,h3 {
  text-align: center;
}
p {
  font-size: 1.3rem;
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
