<div class="container">
<%= button_tag class: "btn btn-square position-absolute p-2", onClick:"history.back()" do %>
          <%= feather_icon "arrow-left", classes: "" %>
        <% end %>
  <div class="" style="margin:3rem 0 0 0;"><h2 class="text-center">Editar perfil</h2></div>
        <%= render "form", user: @user %>
  </div>
</div>
