<footer class="footer navbar-fixed-bottom">
  <div class="card-footer">
    <nav>
      <ul>
        <li class="footer-items">Instagram: <a href="https://www.instagram.com/crecer.academiadegimnasia/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
        <li class="footer-items">CEO: Abi Flores | Dimmas Kirolinko</li>
      </ul>
    </nav>
  </div>
</footer>
