<footer class="footer navbar-fixed-bottom">
  <div class="card-footer">
    <nav>
      <ul>
        <li class="footer-items"><a href="#"><i class="fab fa-github"></i></a></li>
        <li class="footer-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li class="footer-items"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="footer-items"><a href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </nav>
  </div>
</footer>
