<!DOCTYPE html>
  <html lang="es">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Somos un Centro de Educación Integral enfocados en la estimulación temprana deportiva y especializados en gimnasia artistica inicial y avanzada">
        <title>Crecer: Academia de Gimnasia</title>
    </head>
    <body>
      <div class="banner">
            <div class="container">
              <h1>Crecer</h1>
              <h2>Academia de Gimnasia y Centro de Estimulación temprana</h2>
              <a href="https://wa.me/+5493434526485?text=Hola!%20Quisiera%20mas%20informaci%C3%B3n%20por%20favor..." class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
            </div>
      </div>
      <div class="container mb-5">
        <div class="cards">
          <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1600821986515-3ef5b0f29f39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80)">
            Estimulación temprana
          </div></a>

          <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605524240886-403a29dc49ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80)">
            Telas
          </div></a>


          <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1655842556432-ece48a4f2c1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
            Gimnasia artística
          </div></a>

        </div>
        <div class="card-info">
          <p>¿Quieres potenciar las habilidades sociales y fisicas de tu niño/a? Conocemos las necesidades de nuestros niños/as! por eso tenemos clases adecuadas y especializadas para sus edades. Puedes ver nuestras distintas clases <%= link_to "AQUI", clases_path %></p>
        </div>
      </div>
    </body>
</html>
