.feather-1{
  width: 1em;
  height: 1em;
}

.feather-2{
  width: 1.25em;
  height: 1.25em;
}

.feather-3{
  width: 1.5em;
  height: 1.5em;
}

.feather-4{
  width: 1.75em;
  height: 1.75em;
}

.active.feather-star:hover {
  opacity: 0.5;
}